<footer>

    <address>CopyRight &copy; jewon513@gmail.com </address>
    <p><%- book.name %></p>
    <p><%- book.writer %></p>
    <p><%- book.comp %></p>
    <p><%- book.year %></p>

    <% books.forEach(function(b){ %>
    
        <p><%= b.name %></p>

    <% }) %>

</footer>